.footerContainer{
    background-color: #FFE4B5;
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    /* position: absolute; */
    bottom: 0;
    /* right: 0;
    left: 0; */
}

.footerContent{
color: #fff;
font-size: 1rem;

}
