.footerContainer{
    background-color: #E8C4E9;
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    /* position: absolute; */
    bottom: 0;
    /* right: 0;
    left: 0; */
}

.footerContent{
color: #DB7093;
font-size: 1rem;

}
