.headerContainer{
    background-image: url(../../assets/holografica.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.headerTitle{
    font-size: 4rem;
    color: #B873C4;
    
}

.headerImage{
    width: 30%;
    border-radius: 30px;
}